{% extends "base.html" %}
{% load static %}

{% block title %}
| Messages
{% endblock title %}

{% block content %}
<main id="id">
    <section id="pricing" class="pricing section-bg">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-in">Your Messages</h2>
            </div>

            <p>Share your link: https://okayode.herokuapp.com/{{ request.user.username }}<br>Send me an anonymous message<br>You can also say it with your chest &#128521;, i.e., write your name<br>https://okayode.herokuapp.com/{{ request.user.username }}</p>

            <div class="row no-gutters">
                {% for message in messages %}
                <div class="col-lg-4 box" data-aos="zoom-in">
                    <h3>Message</h3>
                    <hr>

                    <i class="bx bx-envelope"></i>
                    <p class="card-text" style="word-wrap: break-word;">{{ message.text }}</p>
                    <p>-- Anonymous</p>
                    <p>[{{ message.time_stamp }}]</p>


                </div>
                {% endfor %}
            </div>

        </div>
    </section><!-- End Pricing Section -->
</main>

<style>
    .box {
        max-width: 30%;
    }
    .card-text {
        word-wrap: break-word;
    }
</style>
{% endblock content %}